@media(max-width: 1281px){
    .main-menu {
        display: none;
    }
    

    .logo {
        
        margin: 0 auto;
    }

    .about-me p {
        width: 60%;

    }
}

@media(max-width:911px){
    .skills {
        width: 90%;
    }

    h1 {
        font-size: 3.5em;
        text-shadow: 0 0 5px black;
    }   

}

@media(max-width: 781px){
    .full-project {
        flex-wrap: wrap;
        margin: 25px;
    }

    .full-project:nth-child(even){
        flex-direction: row; 
    }
}


@media(max-width:376px){
    .skills {
        display: block;
        width: 80%;
    }

    .skills ul {
        margin: 0 auto;
    }

    h1 {
        font-size: 3em;
    }

    .mail {
        font-size: 1em;
    }

    .header-top {
        padding: 0;
    }

}

@media(max-width: 321px){
    .full-project {
        margin: 5px;
    }

}


